openapi: 3.0.1
info:
  title: Onshape REST Account PartNumber API
  description: '## Welcome to the Onshape REST API Explorer


    **See the [API Explorer Guide](https://onshape-public.github.io/docs/api-intro/explorer/) for help navigating this page.**


    ### Using this page

    1. Sign in to your [Onshape](https://cad.onshape.com) account in another tab.

    2. Click the `Try it out` button below. It toggles to a `Cancel` button when selected.


    ### Authenticating

    To authenticate your calls, click the `Authorize` button. See [API Explorer Guide: Authentication](https://onshape-public.github.io/docs/api-intro/explorer/#authentication) for details. Calls made when authenticated via API Keys or OAuth count against your annual [API limits](https://onshape-public.github.io/docs/auth/limits/#annual-api-call-limits).

    * **Tip:** To ensure the current session isn''t used when trying other authentication techniques, make sure to [remove the Onshape cookie](https://support.google.com/chrome/answer/95647#zippy=%2Cdelete-cookies-from-a-site) as per the instructions for your browser, or use a private or incognito window.


    ### Additional resources


    * [Onshape API Guide](https://onshape-public.github.io/docs/): Our full suite of developer guides, to be used as an accompaniment to this API Explorer.

    * [Onshape Developer Portal](https://cad.onshape.com/appstore/dev-portal): The Onshape portal for managing your API keys, OAuth2 credentials, your Onshape applications, and your Onshape App Store entries.

    * [Authentication Guide](https://onshape-public.github.io/docs/auth/): Our guide to using API keys, request signatures, and OAuth2 in your Onshape applications.'
  termsOfService: https://www.onshape.com/legal/terms-of-use
  contact:
    email: api-support@onshape.zendesk.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.218.84032-34acba44be17
  x-logo:
    url: images/logo-onshape-gray-green-nav-bar.svg
    backgroundColor: '#ffffff'
    altText: Onshape
    href: images/logo-onshape-gray-green-nav-bar.svg
  x-indeterministic-schemas:
  - BTDiffInfo
  - BTParameterSpecArray-2600
  - BTSplineDescription-2118
  - NodeModel
  - BTPFunctionDeclaration-246
  - BTPFunctionOrPredicateDeclaration-247
  - BTPExpression-9
  - SkinModel
  - BTMAnnotation-4664
  x-filter-info: ?restUserRole=PUBLIC
servers:
- url: https://cad.onshape.com/api/v16
  description: Current
security:
- BasicAuth: []
tags:
- name: PartNumber
  description: Create valid part numbers.
paths:
  /partnumber/nextnumbers:
    post:
      tags:
      - PartNumber
      description: See [NumberingScheme.nextNumbers](#/NumberingScheme/nextNumbers)
      operationId: updateNextNumbers
      parameters:
      - name: cid
        in: query
        description: The ID of the company or enterprise that owns this resource and/or is making the request to Onshape.
        schema:
          type: string
      - name: did
        in: query
        description: Document ID.
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTNextPartNumbersParam'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/BTNextPartNumber'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      x-BTVisibility: PRODUCTION
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        plmId:
          type: string
    BTCategoryParam:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    BTNextPartNumber:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        configuration:
          type: string
        documentId:
          type: string
        elementId:
          type: string
        elementType:
          type: integer
          format: int32
        errorMessage:
          type: string
        id:
          type: string
        mimeType:
          type: string
        partId:
          type: string
        partNumber:
          type: string
        prefix:
          type: string
        resourceType:
          type: integer
          format: int32
        versionId:
          type: string
        workspaceId:
          type: string
    BTNextPartNumberParam:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/BTCategoryParam'
        configuration:
          type: string
          description: URL-encoded string of configuration values (separated by `;`). See the [Configurations API Guide](https://onshape-public.github.io/docs/api-adv/configs/) for details.
        documentId:
          type: string
          description: Document ID
        elementId:
          type: string
          description: Element (tab) ID
        elementType:
          type: integer
          description: 'Element Type. Must be one of: `-1`: Unknown, `0`: Part Studio, `1`: Assembly, `2`: Drawing. `4` : Blob, `8`: Variable Studio'
          format: int32
        id:
          type: string
        mimeType:
          type: string
        numberSchemeResourceTypeId:
          type: string
          description: 'Must be one of: `8c96700620f77935a0b2cddc`: Part Studio, assembly, or drawing, `29cd738cc6a8819fe84864e0`: Non-geometric items, `10f29fc285510ebc648108e6`: Standard content'
        partId:
          type: string
          description: Part ID
        partNumber:
          type: string
          description: Current part number
        versionId:
          type: string
          description: Version ID
        workspaceId:
          type: string
          description: Workspace ID
      description: Parameters for creating a part number.
    BTNextPartNumbersParam:
      type: object
      properties:
        itemPartNumbers:
          type: array
          items:
            $ref: '#/components/schemas/BTNextPartNumberParam'
        skipPartNumbers:
          type: array
          description: Comma-separated list of part numbers to skip creating new part numbers for.
          items:
            type: string
            description: Comma-separated list of part numbers to skip creating new part numbers for.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Use OAuth 2.0 to authenticate requests.
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          refreshUrl: /oauth/token
          scopes:
            OAuth2Internal: Application is Onshape Internal
            OAuth2ReadPII: Application can read your profile information
            OAuth2Read: Application can read your documents
            OAuth2Write: Application can write to your documents
            OAuth2Delete: Application can delete your documents and workspaces
            OAuth2Purchase: Application can request purchases on your behalf
            OAuth2Share: Application can share and unshare documents on your behalf
            document.create: Atlas Application can create a document
            document.edit: Atlas Application can edit a document
            document.delete: Atlas Application can delete a document
            document.read: Atlas Application can read a document
            enterprise.create: Atlas Application can create an enterprise
            enterprise.read: Atlas Application can read from an enterprise
            enterprise.edit: Atlas Application can edit an enterprise
            enterprise.delete: Atlas Application can delete an enterprise
            enterprise.member.create: Atlas Application can create an enterprise member
            enterprise.member.read: Atlas Application can read the details of an enterprise member
            enterprise.member.edit: Atlas Application can edit the details of an enterprise member
            enterprise.member.delete: Atlas Application can delete a member from an enterprise
            webhook.create: Atlas Application can create a webhook on behalf of the logged-in user
            webhook.edit: Atlas Application can edit a webhook on behalf of the logged-in user
            webhook.read: Atlas Application can read a webhook on behalf of the logged-in user
            webhook.delete: Atlas Application can delete a webhook on behalf of the logged-in user
            PLMIntegration: PLM automation can invoke limited operations
    BasicAuth:
      type: http
      description: Use Basic Authentication with API Keys (key as username and secret as password) to authenticate requests.
      scheme: basic
