openapi: 3.0.1
info:
  title: Onshape REST Account PropertiesTableTemplate API
  description: '## Welcome to the Onshape REST API Explorer


    **See the [API Explorer Guide](https://onshape-public.github.io/docs/api-intro/explorer/) for help navigating this page.**


    ### Using this page

    1. Sign in to your [Onshape](https://cad.onshape.com) account in another tab.

    2. Click the `Try it out` button below. It toggles to a `Cancel` button when selected.


    ### Authenticating

    To authenticate your calls, click the `Authorize` button. See [API Explorer Guide: Authentication](https://onshape-public.github.io/docs/api-intro/explorer/#authentication) for details. Calls made when authenticated via API Keys or OAuth count against your annual [API limits](https://onshape-public.github.io/docs/auth/limits/#annual-api-call-limits).

    * **Tip:** To ensure the current session isn''t used when trying other authentication techniques, make sure to [remove the Onshape cookie](https://support.google.com/chrome/answer/95647#zippy=%2Cdelete-cookies-from-a-site) as per the instructions for your browser, or use a private or incognito window.


    ### Additional resources


    * [Onshape API Guide](https://onshape-public.github.io/docs/): Our full suite of developer guides, to be used as an accompaniment to this API Explorer.

    * [Onshape Developer Portal](https://cad.onshape.com/appstore/dev-portal): The Onshape portal for managing your API keys, OAuth2 credentials, your Onshape applications, and your Onshape App Store entries.

    * [Authentication Guide](https://onshape-public.github.io/docs/auth/): Our guide to using API keys, request signatures, and OAuth2 in your Onshape applications.'
  termsOfService: https://www.onshape.com/legal/terms-of-use
  contact:
    email: api-support@onshape.zendesk.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.218.84032-34acba44be17
  x-logo:
    url: images/logo-onshape-gray-green-nav-bar.svg
    backgroundColor: '#ffffff'
    altText: Onshape
    href: images/logo-onshape-gray-green-nav-bar.svg
  x-indeterministic-schemas:
  - BTDiffInfo
  - BTParameterSpecArray-2600
  - BTSplineDescription-2118
  - NodeModel
  - BTPFunctionDeclaration-246
  - BTPFunctionOrPredicateDeclaration-247
  - BTPExpression-9
  - SkinModel
  - BTMAnnotation-4664
  x-filter-info: ?restUserRole=PUBLIC
servers:
- url: https://cad.onshape.com/api/v16
  description: Current
security:
- BasicAuth: []
tags:
- name: PropertiesTableTemplate
  description: Create, access, and delete templates for properties tables.
paths:
  /tabletemplates:
    post:
      tags:
      - PropertiesTableTemplate
      summary: Create a new properties table template.
      operationId: createTableTemplate
      parameters:
      - name: templateGroupId
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTPropertiesTableTemplateParams'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTPropertiesTableTemplateInfo'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      x-BTVisibility: PRODUCTION
  /tabletemplates/companies/{cid}:
    get:
      tags:
      - PropertiesTableTemplate
      summary: Get all properties table templates available for a company.
      operationId: getByCompanyId
      parameters:
      - name: cid
        in: path
        description: The id of the company in which to perform the operation.
        required: true
        schema:
          type: string
      - name: templateType
        in: query
        description: 'Indicates filter for table templates: 0 (BOM) or 1 (Revision Table).'
        schema:
          $ref: '#/components/schemas/BTPropertiesTableTemplateType'
      - name: onlyActive
        in: query
        schema:
          type: boolean
          default: false
      - name: includeDefaults
        in: query
        schema:
          type: boolean
          default: true
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BTPropertiesTableTemplateInfo'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      x-BTVisibility: PRODUCTION
  /tabletemplates/d/{did}:
    get:
      tags:
      - PropertiesTableTemplate
      summary: Get all table templates that are available to use on the provided document.
      operationId: getByDocumentId
      parameters:
      - name: did
        in: path
        description: The id of the document in which to perform the operation.
        required: true
        schema:
          type: string
      - name: templateType
        in: query
        description: 'Indicates filter for table templates: 0 (BOM) or 1 (Revision Table).'
        schema:
          $ref: '#/components/schemas/BTPropertiesTableTemplateType'
      - name: onlyActive
        in: query
        schema:
          type: boolean
          default: true
      - name: includeDefaults
        in: query
        schema:
          type: boolean
          default: true
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BTPropertiesTableTemplateInfo'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      x-BTVisibility: PRODUCTION
  /tabletemplates/{tid}:
    get:
      tags:
      - PropertiesTableTemplate
      summary: Get a properties table template by template ID.
      operationId: getTableTemplate
      parameters:
      - name: tid
        in: path
        description: The id of the template in which to perform the operation.
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTPropertiesTableTemplateInfo'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      x-BTVisibility: PRODUCTION
    delete:
      tags:
      - PropertiesTableTemplate
      summary: Delete a properties table template.
      operationId: deleteTableTemplate
      parameters:
      - name: tid
        in: path
        description: The id of the template in which to perform the operation.
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Delete
        BasicAuth:
        - OAuth2Delete
      x-BTVisibility: PRODUCTION
components:
  schemas:
    BTPropertiesTableTemplateType:
      type: string
      enum:
      - BOM
      - REVISION_TABLE
      - INSPECTION_TABLE
    BTPropertiesTableTemplateInfo:
      type: object
      properties:
        companyId:
          type: string
        href:
          type: string
          description: URI to fetch complete information of the resource.
          format: uri
        id:
          type: string
          description: Id of the resource.
        isActive:
          type: boolean
        isAllCaps:
          type: boolean
        isIndented:
          type: boolean
        isShowingTopLevelAssemblyRow:
          type: boolean
        name:
          type: string
          description: Name of the resource.
        propertyColumns:
          type: array
          items:
            $ref: '#/components/schemas/BTSimplePropertyInfo'
        tableType:
          $ref: '#/components/schemas/BTPropertiesTableTemplateType'
        templateGroupId:
          type: string
        viewRef:
          type: string
          description: URI to visualize the resource in a webclient if applicable.
          format: uri
    BTMetadataValueType:
      type: string
      enum:
      - STRING
      - BOOL
      - INT
      - DOUBLE
      - DATE
      - ENUM
      - OBJECT
      - BLOB
      - USER
      - LIST
      - FOREIGN
      - CATEGORY
      - COMPUTED
      - VALUE_WITH_UNITS
    BTPropertiesTableTemplateParams:
      type: object
      properties:
        companyId:
          type: string
        isAllCaps:
          type: boolean
        isIndented:
          type: boolean
        isShowingTopLevelAssemblyRow:
          type: boolean
        name:
          type: string
        propertyColumns:
          type: array
          items:
            type: string
        tableType:
          $ref: '#/components/schemas/BTPropertiesTableTemplateType'
    BTSimplePropertyInfo:
      type: object
      properties:
        displayName:
          type: string
        frozen:
          type: boolean
        propertyId:
          type: string
        publishState:
          type: integer
          format: int32
        valueType:
          $ref: '#/components/schemas/BTMetadataValueType'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Use OAuth 2.0 to authenticate requests.
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          refreshUrl: /oauth/token
          scopes:
            OAuth2Internal: Application is Onshape Internal
            OAuth2ReadPII: Application can read your profile information
            OAuth2Read: Application can read your documents
            OAuth2Write: Application can write to your documents
            OAuth2Delete: Application can delete your documents and workspaces
            OAuth2Purchase: Application can request purchases on your behalf
            OAuth2Share: Application can share and unshare documents on your behalf
            document.create: Atlas Application can create a document
            document.edit: Atlas Application can edit a document
            document.delete: Atlas Application can delete a document
            document.read: Atlas Application can read a document
            enterprise.create: Atlas Application can create an enterprise
            enterprise.read: Atlas Application can read from an enterprise
            enterprise.edit: Atlas Application can edit an enterprise
            enterprise.delete: Atlas Application can delete an enterprise
            enterprise.member.create: Atlas Application can create an enterprise member
            enterprise.member.read: Atlas Application can read the details of an enterprise member
            enterprise.member.edit: Atlas Application can edit the details of an enterprise member
            enterprise.member.delete: Atlas Application can delete a member from an enterprise
            webhook.create: Atlas Application can create a webhook on behalf of the logged-in user
            webhook.edit: Atlas Application can edit a webhook on behalf of the logged-in user
            webhook.read: Atlas Application can read a webhook on behalf of the logged-in user
            webhook.delete: Atlas Application can delete a webhook on behalf of the logged-in user
            PLMIntegration: PLM automation can invoke limited operations
    BasicAuth:
      type: http
      description: Use Basic Authentication with API Keys (key as username and secret as password) to authenticate requests.
      scheme: basic
