openapi: 3.0.1
info:
  title: Onshape REST Account Material API
  description: '## Welcome to the Onshape REST API Explorer


    **See the [API Explorer Guide](https://onshape-public.github.io/docs/api-intro/explorer/) for help navigating this page.**


    ### Using this page

    1. Sign in to your [Onshape](https://cad.onshape.com) account in another tab.

    2. Click the `Try it out` button below. It toggles to a `Cancel` button when selected.


    ### Authenticating

    To authenticate your calls, click the `Authorize` button. See [API Explorer Guide: Authentication](https://onshape-public.github.io/docs/api-intro/explorer/#authentication) for details. Calls made when authenticated via API Keys or OAuth count against your annual [API limits](https://onshape-public.github.io/docs/auth/limits/#annual-api-call-limits).

    * **Tip:** To ensure the current session isn''t used when trying other authentication techniques, make sure to [remove the Onshape cookie](https://support.google.com/chrome/answer/95647#zippy=%2Cdelete-cookies-from-a-site) as per the instructions for your browser, or use a private or incognito window.


    ### Additional resources


    * [Onshape API Guide](https://onshape-public.github.io/docs/): Our full suite of developer guides, to be used as an accompaniment to this API Explorer.

    * [Onshape Developer Portal](https://cad.onshape.com/appstore/dev-portal): The Onshape portal for managing your API keys, OAuth2 credentials, your Onshape applications, and your Onshape App Store entries.

    * [Authentication Guide](https://onshape-public.github.io/docs/auth/): Our guide to using API keys, request signatures, and OAuth2 in your Onshape applications.'
  termsOfService: https://www.onshape.com/legal/terms-of-use
  contact:
    email: api-support@onshape.zendesk.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.218.84032-34acba44be17
  x-logo:
    url: images/logo-onshape-gray-green-nav-bar.svg
    backgroundColor: '#ffffff'
    altText: Onshape
    href: images/logo-onshape-gray-green-nav-bar.svg
  x-indeterministic-schemas:
  - BTDiffInfo
  - BTParameterSpecArray-2600
  - BTSplineDescription-2118
  - NodeModel
  - BTPFunctionDeclaration-246
  - BTPFunctionOrPredicateDeclaration-247
  - BTPExpression-9
  - SkinModel
  - BTMAnnotation-4664
  x-filter-info: ?restUserRole=PUBLIC
servers:
- url: https://cad.onshape.com/api/v16
  description: Current
security:
- BasicAuth: []
tags:
- name: Material
  description: Work with the Onshape Material Library.
paths:
  /materials/libraries/d/{did}/w/{wid}/e/{eid}/csv:
    post:
      tags:
      - Material
      summary: Updates an existing material library
      description: Update a material in an Onshape Material Library from a csv file. Changes made replace the existing library.
      operationId: updateLibrary
      parameters:
      - name: did
        in: path
        description: Document ID.
        required: true
        schema:
          type: string
      - name: wid
        in: path
        description: Workspace ID.
        required: true
        schema:
          type: string
      - name: eid
        in: path
        description: Element ID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BTBFileUpload'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      x-BTVisibility: PRODUCTION
  /materials/libraries/d/{did}/{wvm}/{wvmid}/e/{eid}:
    get:
      tags:
      - Material
      summary: Get a list of materials from a material library.
      description: Get a JSON representation of the material library.
      operationId: getLibrary
      parameters:
      - name: did
        in: path
        description: Document ID.
        required: true
        schema:
          type: string
      - name: wvm
        in: path
        description: One of w or v or m corresponding to whether a workspace or version or microversion was entered.
        required: true
        schema:
          type: string
      - name: wvmid
        in: path
        description: Workspace (w), Version (v) or Microversion (m) ID.
        required: true
        schema:
          type: string
      - name: eid
        in: path
        description: Element ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success!
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTMaterialLibraryInfo'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      x-BTVisibility: PRODUCTION
components:
  schemas:
    BTMaterialPropertyDefinitionInfo:
      type: object
      properties:
        category:
          type: string
        description:
          type: string
        displayName:
          type: string
        displayUnits:
          type: string
        name:
          type: string
        type:
          type: string
        units:
          type: string
        unitsChoices:
          uniqueItems: true
          type: array
          items:
            type: string
    BTLibraryMaterialInfo:
      type: object
      properties:
        category:
          type: string
        displayName:
          type: string
        id:
          type: string
        propertyValues:
          type: object
          additionalProperties:
            type: string
    BTExternalElementReferenceInfo:
      type: object
      properties:
        documentId:
          type: string
        elementId:
          type: string
        elementMicroversionId:
          type: string
        versionId:
          type: string
    BTBFileUpload:
      type: object
      properties:
        file:
          type: string
          description: The file to upload.
          format: binary
    BTMaterialLibraryInfo:
      type: object
      properties:
        description:
          type: string
        displayName:
          type: string
        externalElementReference:
          $ref: '#/components/schemas/BTExternalElementReferenceInfo'
        materials:
          type: array
          items:
            $ref: '#/components/schemas/BTLibraryMaterialInfo'
        name:
          type: string
        propertyDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/BTMaterialPropertyDefinitionInfo'
        versioned:
          type: boolean
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Use OAuth 2.0 to authenticate requests.
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          refreshUrl: /oauth/token
          scopes:
            OAuth2Internal: Application is Onshape Internal
            OAuth2ReadPII: Application can read your profile information
            OAuth2Read: Application can read your documents
            OAuth2Write: Application can write to your documents
            OAuth2Delete: Application can delete your documents and workspaces
            OAuth2Purchase: Application can request purchases on your behalf
            OAuth2Share: Application can share and unshare documents on your behalf
            document.create: Atlas Application can create a document
            document.edit: Atlas Application can edit a document
            document.delete: Atlas Application can delete a document
            document.read: Atlas Application can read a document
            enterprise.create: Atlas Application can create an enterprise
            enterprise.read: Atlas Application can read from an enterprise
            enterprise.edit: Atlas Application can edit an enterprise
            enterprise.delete: Atlas Application can delete an enterprise
            enterprise.member.create: Atlas Application can create an enterprise member
            enterprise.member.read: Atlas Application can read the details of an enterprise member
            enterprise.member.edit: Atlas Application can edit the details of an enterprise member
            enterprise.member.delete: Atlas Application can delete a member from an enterprise
            webhook.create: Atlas Application can create a webhook on behalf of the logged-in user
            webhook.edit: Atlas Application can edit a webhook on behalf of the logged-in user
            webhook.read: Atlas Application can read a webhook on behalf of the logged-in user
            webhook.delete: Atlas Application can delete a webhook on behalf of the logged-in user
            PLMIntegration: PLM automation can invoke limited operations
    BasicAuth:
      type: http
      description: Use Basic Authentication with API Keys (key as username and secret as password) to authenticate requests.
      scheme: basic
