openapi: 3.0.1
info:
  title: Onshape REST Account StandardContent API
  description: '## Welcome to the Onshape REST API Explorer


    **See the [API Explorer Guide](https://onshape-public.github.io/docs/api-intro/explorer/) for help navigating this page.**


    ### Using this page

    1. Sign in to your [Onshape](https://cad.onshape.com) account in another tab.

    2. Click the `Try it out` button below. It toggles to a `Cancel` button when selected.


    ### Authenticating

    To authenticate your calls, click the `Authorize` button. See [API Explorer Guide: Authentication](https://onshape-public.github.io/docs/api-intro/explorer/#authentication) for details. Calls made when authenticated via API Keys or OAuth count against your annual [API limits](https://onshape-public.github.io/docs/auth/limits/#annual-api-call-limits).

    * **Tip:** To ensure the current session isn''t used when trying other authentication techniques, make sure to [remove the Onshape cookie](https://support.google.com/chrome/answer/95647#zippy=%2Cdelete-cookies-from-a-site) as per the instructions for your browser, or use a private or incognito window.


    ### Additional resources


    * [Onshape API Guide](https://onshape-public.github.io/docs/): Our full suite of developer guides, to be used as an accompaniment to this API Explorer.

    * [Onshape Developer Portal](https://cad.onshape.com/appstore/dev-portal): The Onshape portal for managing your API keys, OAuth2 credentials, your Onshape applications, and your Onshape App Store entries.

    * [Authentication Guide](https://onshape-public.github.io/docs/auth/): Our guide to using API keys, request signatures, and OAuth2 in your Onshape applications.'
  termsOfService: https://www.onshape.com/legal/terms-of-use
  contact:
    email: api-support@onshape.zendesk.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.218.84032-34acba44be17
  x-logo:
    url: images/logo-onshape-gray-green-nav-bar.svg
    backgroundColor: '#ffffff'
    altText: Onshape
    href: images/logo-onshape-gray-green-nav-bar.svg
  x-indeterministic-schemas:
  - BTDiffInfo
  - BTParameterSpecArray-2600
  - BTSplineDescription-2118
  - NodeModel
  - BTPFunctionDeclaration-246
  - BTPFunctionOrPredicateDeclaration-247
  - BTPExpression-9
  - SkinModel
  - BTMAnnotation-4664
  x-filter-info: ?restUserRole=PUBLIC
servers:
- url: https://cad.onshape.com/api/v16
  description: Current
security:
- BasicAuth: []
tags:
- name: StandardContent
  description: Work with Onshape standard content.
paths:
  /standardcontent/d/{did}/customparameters:
    post:
      tags:
      - StandardContent
      summary: Sets the part number and description for a standard content component.
      operationId: setCustomParameters
      parameters:
      - name: did
        in: path
        description: Document ID.
        required: true
        schema:
          type: string
      - name: companyId
        in: query
        description: The id of the company that owns the metadata to be modified.
        schema:
          type: string
          default: ''
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTStandardContentSetCustomParametersBatchRequest'
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTStandardContentSetCustomParametersBatchResponse'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      x-BTVisibility: PRODUCTION
  /standardcontent/d/{did}/parametervalues:
    get:
      tags:
      - StandardContent
      summary: Gets all possible values for each of the standard content parameters.
      operationId: getParameterValuesForId
      parameters:
      - name: did
        in: path
        description: Document ID.
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BTStandardContentParameterDescriptor'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      x-BTVisibility: PRODUCTION
  /standardcontent/list:
    get:
      tags:
      - StandardContent
      summary: List all standard content.
      operationId: getStandardContentList
      parameters:
      - name: standard
        in: query
        description: If provided, list only standard content corresponding to this standard.
        schema:
          type: string
          default: ''
      responses:
        default:
          description: default response
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BTStandardContentHierarchyItem'
      deprecated: false
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      x-BTVisibility: PRODUCTION
components:
  schemas:
    BTStandardContentParameterDescriptor:
      type: object
      properties:
        displayName:
          type: string
        parameterId:
          type: string
        parameterValues:
          type: array
          items:
            type: string
    BTStandardContentSetCustomParameterSpecifier:
      type: object
      properties:
        customParameters:
          type: array
          description: Non-driving custom parameters whose values are to be set.
          items:
            $ref: '#/components/schemas/BTStandardContentPropertyIdAndValue'
        parameters:
          type: array
          description: Parameters that drive configuration. Used to specify the standard content component to which the custom parameter values are associated.
          items:
            $ref: '#/components/schemas/BTStandardContentParameterIdAndValue'
      description: Specifies a standard content component along with the custom properties whose values are to be set.
    BTStandardContentSetCustomParametersError:
      type: string
      description: Indicates whether or not the individual request had an error.
      enum:
      - NONE
      - INVALID_PARAMETER_VALUE
      - FAILED_TO_SPECIFY_REQUIRED_PARAMETER
      - INVALID_PARAMETER_ID
    BTStandardContentSetCustomParametersBatchRequest:
      type: object
      properties:
        specifiers:
          type: array
          items:
            $ref: '#/components/schemas/BTStandardContentSetCustomParameterSpecifier'
    BTStandardContentHierarchyItem:
      type: object
      properties:
        category:
          type: string
          description: Category for the corresponding standard content.
        class:
          type: string
          description: Class for the corresponding standard content.
        component:
          type: string
          description: Component for the corresponding standard content.
        id:
          type: string
          description: Document ID for the corresponding standard content.
        standard:
          type: string
          description: Standard for the corresponding standard content.
      description: Describes a single instance of standard content.
    BTStandardContentSetCustomParametersBatchResponse:
      type: object
      properties:
        responses:
          type: array
          items:
            $ref: '#/components/schemas/BTStandardContentSetCustomParametersResponse'
    BTStandardContentParameterIdAndValue:
      type: object
      properties:
        parameterId:
          type: string
        value:
          type: string
      description: Parameters that drive configuration. Used to specify the standard content component to which the custom parameter values are associated.
    BTStandardContentSetCustomParametersResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/BTStandardContentSetCustomParametersError'
        errorMessage:
          type: string
          description: If there was an error, this provides a more detailed description of the problem.
      description: Reports the status of an individual request to set custom parameter values.
    BTStandardContentPropertyIdAndValue:
      type: object
      properties:
        propertyId:
          type: string
        value:
          type: string
      description: Non-driving custom parameters whose values are to be set.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Use OAuth 2.0 to authenticate requests.
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          refreshUrl: /oauth/token
          scopes:
            OAuth2Internal: Application is Onshape Internal
            OAuth2ReadPII: Application can read your profile information
            OAuth2Read: Application can read your documents
            OAuth2Write: Application can write to your documents
            OAuth2Delete: Application can delete your documents and workspaces
            OAuth2Purchase: Application can request purchases on your behalf
            OAuth2Share: Application can share and unshare documents on your behalf
            document.create: Atlas Application can create a document
            document.edit: Atlas Application can edit a document
            document.delete: Atlas Application can delete a document
            document.read: Atlas Application can read a document
            enterprise.create: Atlas Application can create an enterprise
            enterprise.read: Atlas Application can read from an enterprise
            enterprise.edit: Atlas Application can edit an enterprise
            enterprise.delete: Atlas Application can delete an enterprise
            enterprise.member.create: Atlas Application can create an enterprise member
            enterprise.member.read: Atlas Application can read the details of an enterprise member
            enterprise.member.edit: Atlas Application can edit the details of an enterprise member
            enterprise.member.delete: Atlas Application can delete a member from an enterprise
            webhook.create: Atlas Application can create a webhook on behalf of the logged-in user
            webhook.edit: Atlas Application can edit a webhook on behalf of the logged-in user
            webhook.read: Atlas Application can read a webhook on behalf of the logged-in user
            webhook.delete: Atlas Application can delete a webhook on behalf of the logged-in user
            PLMIntegration: PLM automation can invoke limited operations
    BasicAuth:
      type: http
      description: Use Basic Authentication with API Keys (key as username and secret as password) to authenticate requests.
      scheme: basic
